# This is pooled connection url from neon. Used for prisma client
DATABASE_URL=
# This is the direct connection url. Used for migrations and stuff
DIRECT_URL=

#JWT Auth secret
AUTH_SECRET=
FRONTEND_URL=